.card {
  width: 250px;
  height: 420px;
  margin: 2vh;
  border: solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}
@media (max-width: 0) {
  .card {
    background-color: red;
  }
}
@media (max-width: 576px) {
  .card {
    background-color: blue;
  }
}
@media (max-width: 768px) {
  .card {
    background-color: yellow;
  }
}
@media (max-width: 992px) {
  .card {
    background-color: green;
  }
}
@media (max-width: 1200px) {
  .card {
    background-color: purple;
  }
}
@media (min-width: 1400px) {
  .card {
    background-color: brown;
  }
}
.card__img {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px;
  border-radius: 30px;
}
.card__title {
  font-size: 20px;
  color: black;
  padding-top: 20px;
  text-align: center;
}
.card__text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 2vh;
  text-align: center;
}
.card__btn {
  width: 100px;
  height: 50px;
  background-color: #13A8F2;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}
.card__btn:hover {
  transform: scale(1.5);
  box-shadow: 10px 10px 20px rgb(236, 146, 236);
}

.text-primary {
  color: #13A8F2;
}

.bg-primary {
  background-color: #13A8F2;
}

.bg-primary-light-2 {
  background-color: #42b9f5;
}

.bg-primary-light-4 {
  background-color: #71cbf7;
}

.bg-primary-light-6 {
  background-color: #a1dcfa;
}

.bg-primary-light-8 {
  background-color: #d0eefc;
}

.bg-primary-dark-2 {
  background-color: #0f86c2;
}

.bg-primary-dark-4 {
  background-color: #0b6591;
}

.bg-primary-dark-6 {
  background-color: #084361;
}

.bg-primary-dark-8 {
  background-color: #042230;
}

.text-secondary {
  color: #6C757D;
}

.bg-secondary {
  background-color: #6C757D;
}

.bg-secondary-light-2 {
  background-color: #899197;
}

.bg-secondary-light-4 {
  background-color: #a7acb1;
}

.bg-secondary-light-6 {
  background-color: #c4c8cb;
}

.bg-secondary-light-8 {
  background-color: #e2e3e5;
}

.bg-secondary-dark-2 {
  background-color: #565e64;
}

.bg-secondary-dark-4 {
  background-color: #41464b;
}

.bg-secondary-dark-6 {
  background-color: #2b2f32;
}

.bg-secondary-dark-8 {
  background-color: #161719;
}

.text-succes {
  color: #2FA745;
}

.bg-succes {
  background-color: #2FA745;
}

.bg-succes-light-2 {
  background-color: #59b96a;
}

.bg-succes-light-4 {
  background-color: #82ca8f;
}

.bg-succes-light-6 {
  background-color: #acdcb5;
}

.bg-succes-light-8 {
  background-color: #d5edda;
}

.bg-succes-dark-2 {
  background-color: #268637;
}

.bg-succes-dark-4 {
  background-color: #1c6429;
}

.bg-succes-dark-6 {
  background-color: #13431c;
}

.bg-succes-dark-8 {
  background-color: #09210e;
}

.text-danger {
  color: #DE3545;
}

.bg-danger {
  background-color: #DE3545;
}

.bg-danger-light-2 {
  background-color: #e55d6a;
}

.bg-danger-light-4 {
  background-color: #eb868f;
}

.bg-danger-light-6 {
  background-color: #f2aeb5;
}

.bg-danger-light-8 {
  background-color: #f8d7da;
}

.bg-danger-dark-2 {
  background-color: #b22a37;
}

.bg-danger-dark-4 {
  background-color: #852029;
}

.bg-danger-dark-6 {
  background-color: #59151c;
}

.bg-danger-dark-8 {
  background-color: #2c0b0e;
}

.text-warning {
  color: #FFC107;
}

.bg-warning {
  background-color: #FFC107;
}

.bg-warning-light-2 {
  background-color: #ffcd39;
}

.bg-warning-light-4 {
  background-color: #ffda6a;
}

.bg-warning-light-6 {
  background-color: #ffe69c;
}

.bg-warning-light-8 {
  background-color: #fff3cd;
}

.bg-warning-dark-2 {
  background-color: #cc9a06;
}

.bg-warning-dark-4 {
  background-color: #997404;
}

.bg-warning-dark-6 {
  background-color: #664d03;
}

.bg-warning-dark-8 {
  background-color: #332701;
}

.text-info {
  color: #17A2B8;
}

.bg-info {
  background-color: #17A2B8;
}

.bg-info-light-2 {
  background-color: #45b5c6;
}

.bg-info-light-4 {
  background-color: #74c7d4;
}

.bg-info-light-6 {
  background-color: #a2dae3;
}

.bg-info-light-8 {
  background-color: #d1ecf1;
}

.bg-info-dark-2 {
  background-color: #128293;
}

.bg-info-dark-4 {
  background-color: #0e616e;
}

.bg-info-dark-6 {
  background-color: #09414a;
}

.bg-info-dark-8 {
  background-color: #052025;
}

.text-blanco {
  color: white;
}

.bg-blanco {
  background-color: white;
}

.text-negro {
  color: black;
}

.bg-negro {
  background-color: black;
}

.text-manzana {
  color: rgb(207, 44, 44);
}

.bg-manzana {
  background-color: rgb(207, 44, 44);
}

.bg-manzana-light-2 {
  background-color: #d95656;
}

.bg-manzana-light-4 {
  background-color: #e28080;
}

.bg-manzana-light-6 {
  background-color: #ecabab;
}

.bg-manzana-light-8 {
  background-color: #f5d5d5;
}

.bg-manzana-dark-2 {
  background-color: #a62323;
}

.bg-manzana-dark-4 {
  background-color: #7c1a1a;
}

.bg-manzana-dark-6 {
  background-color: #531212;
}

.bg-manzana-dark-8 {
  background-color: #290909;
}

.text-platano {
  color: rgb(210, 210, 22);
}

.bg-platano {
  background-color: rgb(210, 210, 22);
}

.bg-platano-light-2 {
  background-color: #dbdb45;
}

.bg-platano-light-4 {
  background-color: #e4e473;
}

.bg-platano-light-6 {
  background-color: #ededa2;
}

.bg-platano-light-8 {
  background-color: #f6f6d0;
}

.bg-platano-dark-2 {
  background-color: #a8a812;
}

.bg-platano-dark-4 {
  background-color: #7e7e0d;
}

.bg-platano-dark-6 {
  background-color: #545409;
}

.bg-platano-dark-8 {
  background-color: #2a2a04;
}

.text-naranja {
  color: rgb(219, 146, 11);
}

.bg-naranja {
  background-color: rgb(219, 146, 11);
}

.bg-naranja-light-2 {
  background-color: #e2a83c;
}

.bg-naranja-light-4 {
  background-color: #e9be6d;
}

.bg-naranja-light-6 {
  background-color: #f1d39d;
}

.bg-naranja-light-8 {
  background-color: #f8e9ce;
}

.bg-naranja-dark-2 {
  background-color: #af7509;
}

.bg-naranja-dark-4 {
  background-color: #835807;
}

.bg-naranja-dark-6 {
  background-color: #583a04;
}

.bg-naranja-dark-8 {
  background-color: #2c1d02;
}

.text-verde {
  color: rgb(17, 147, 17);
}

.bg-verde {
  background-color: rgb(17, 147, 17);
}

.bg-verde-light-2 {
  background-color: #41a941;
}

.bg-verde-light-4 {
  background-color: #70be70;
}

.bg-verde-light-6 {
  background-color: #a0d4a0;
}

.bg-verde-light-8 {
  background-color: #cfe9cf;
}

.bg-verde-dark-2 {
  background-color: #0e760e;
}

.bg-verde-dark-4 {
  background-color: #0a580a;
}

.bg-verde-dark-6 {
  background-color: #073b07;
}

.bg-verde-dark-8 {
  background-color: #031d03;
}

.text-azul {
  color: rgb(156, 156, 239);
}

.bg-azul {
  background-color: rgb(156, 156, 239);
}

.bg-azul-light-2 {
  background-color: #b0b0f2;
}

.bg-azul-light-4 {
  background-color: #c4c4f5;
}

.bg-azul-light-6 {
  background-color: #d7d7f9;
}

.bg-azul-light-8 {
  background-color: #ebebfc;
}

.bg-azul-dark-2 {
  background-color: #7d7dbf;
}

.bg-azul-dark-4 {
  background-color: #5e5e8f;
}

.bg-azul-dark-6 {
  background-color: #3e3e60;
}

.bg-azul-dark-8 {
  background-color: #1f1f30;
}

.text-gris {
  color: rgb(154, 147, 147);
}

.bg-gris {
  background-color: rgb(154, 147, 147);
}

.bg-gris-light-2 {
  background-color: #aea9a9;
}

.bg-gris-light-4 {
  background-color: #c2bebe;
}

.bg-gris-light-6 {
  background-color: #d7d4d4;
}

.bg-gris-light-8 {
  background-color: #ebe9e9;
}

.bg-gris-dark-2 {
  background-color: #7b7676;
}

.bg-gris-dark-4 {
  background-color: #5c5858;
}

.bg-gris-dark-6 {
  background-color: #3e3b3b;
}

.bg-gris-dark-8 {
  background-color: #1f1d1d;
}

.text-primary {
  color: #13A8F2;
}

.bg-primary {
  background-color: #13A8F2;
}

.bg-primary-light-2 {
  background-color: #42b9f5;
}

.bg-primary-light-4 {
  background-color: #71cbf7;
}

.bg-primary-light-6 {
  background-color: #a1dcfa;
}

.bg-primary-light-8 {
  background-color: #d0eefc;
}

.bg-primary-dark-2 {
  background-color: #0f86c2;
}

.bg-primary-dark-4 {
  background-color: #0b6591;
}

.bg-primary-dark-6 {
  background-color: #084361;
}

.bg-primary-dark-8 {
  background-color: #042230;
}

.text-secondary {
  color: #6C757D;
}

.bg-secondary {
  background-color: #6C757D;
}

.bg-secondary-light-2 {
  background-color: #899197;
}

.bg-secondary-light-4 {
  background-color: #a7acb1;
}

.bg-secondary-light-6 {
  background-color: #c4c8cb;
}

.bg-secondary-light-8 {
  background-color: #e2e3e5;
}

.bg-secondary-dark-2 {
  background-color: #565e64;
}

.bg-secondary-dark-4 {
  background-color: #41464b;
}

.bg-secondary-dark-6 {
  background-color: #2b2f32;
}

.bg-secondary-dark-8 {
  background-color: #161719;
}

.text-succes {
  color: #2FA745;
}

.bg-succes {
  background-color: #2FA745;
}

.bg-succes-light-2 {
  background-color: #59b96a;
}

.bg-succes-light-4 {
  background-color: #82ca8f;
}

.bg-succes-light-6 {
  background-color: #acdcb5;
}

.bg-succes-light-8 {
  background-color: #d5edda;
}

.bg-succes-dark-2 {
  background-color: #268637;
}

.bg-succes-dark-4 {
  background-color: #1c6429;
}

.bg-succes-dark-6 {
  background-color: #13431c;
}

.bg-succes-dark-8 {
  background-color: #09210e;
}

.text-danger {
  color: #DE3545;
}

.bg-danger {
  background-color: #DE3545;
}

.bg-danger-light-2 {
  background-color: #e55d6a;
}

.bg-danger-light-4 {
  background-color: #eb868f;
}

.bg-danger-light-6 {
  background-color: #f2aeb5;
}

.bg-danger-light-8 {
  background-color: #f8d7da;
}

.bg-danger-dark-2 {
  background-color: #b22a37;
}

.bg-danger-dark-4 {
  background-color: #852029;
}

.bg-danger-dark-6 {
  background-color: #59151c;
}

.bg-danger-dark-8 {
  background-color: #2c0b0e;
}

.text-warning {
  color: #FFC107;
}

.bg-warning {
  background-color: #FFC107;
}

.bg-warning-light-2 {
  background-color: #ffcd39;
}

.bg-warning-light-4 {
  background-color: #ffda6a;
}

.bg-warning-light-6 {
  background-color: #ffe69c;
}

.bg-warning-light-8 {
  background-color: #fff3cd;
}

.bg-warning-dark-2 {
  background-color: #cc9a06;
}

.bg-warning-dark-4 {
  background-color: #997404;
}

.bg-warning-dark-6 {
  background-color: #664d03;
}

.bg-warning-dark-8 {
  background-color: #332701;
}

.text-info {
  color: #17A2B8;
}

.bg-info {
  background-color: #17A2B8;
}

.bg-info-light-2 {
  background-color: #45b5c6;
}

.bg-info-light-4 {
  background-color: #74c7d4;
}

.bg-info-light-6 {
  background-color: #a2dae3;
}

.bg-info-light-8 {
  background-color: #d1ecf1;
}

.bg-info-dark-2 {
  background-color: #128293;
}

.bg-info-dark-4 {
  background-color: #0e616e;
}

.bg-info-dark-6 {
  background-color: #09414a;
}

.bg-info-dark-8 {
  background-color: #052025;
}

.text-blanco {
  color: white;
}

.bg-blanco {
  background-color: white;
}

.text-negro {
  color: black;
}

.bg-negro {
  background-color: black;
}

.text-manzana {
  color: rgb(207, 44, 44);
}

.bg-manzana {
  background-color: rgb(207, 44, 44);
}

.bg-manzana-light-2 {
  background-color: #d95656;
}

.bg-manzana-light-4 {
  background-color: #e28080;
}

.bg-manzana-light-6 {
  background-color: #ecabab;
}

.bg-manzana-light-8 {
  background-color: #f5d5d5;
}

.bg-manzana-dark-2 {
  background-color: #a62323;
}

.bg-manzana-dark-4 {
  background-color: #7c1a1a;
}

.bg-manzana-dark-6 {
  background-color: #531212;
}

.bg-manzana-dark-8 {
  background-color: #290909;
}

.text-platano {
  color: rgb(210, 210, 22);
}

.bg-platano {
  background-color: rgb(210, 210, 22);
}

.bg-platano-light-2 {
  background-color: #dbdb45;
}

.bg-platano-light-4 {
  background-color: #e4e473;
}

.bg-platano-light-6 {
  background-color: #ededa2;
}

.bg-platano-light-8 {
  background-color: #f6f6d0;
}

.bg-platano-dark-2 {
  background-color: #a8a812;
}

.bg-platano-dark-4 {
  background-color: #7e7e0d;
}

.bg-platano-dark-6 {
  background-color: #545409;
}

.bg-platano-dark-8 {
  background-color: #2a2a04;
}

.text-naranja {
  color: rgb(219, 146, 11);
}

.bg-naranja {
  background-color: rgb(219, 146, 11);
}

.bg-naranja-light-2 {
  background-color: #e2a83c;
}

.bg-naranja-light-4 {
  background-color: #e9be6d;
}

.bg-naranja-light-6 {
  background-color: #f1d39d;
}

.bg-naranja-light-8 {
  background-color: #f8e9ce;
}

.bg-naranja-dark-2 {
  background-color: #af7509;
}

.bg-naranja-dark-4 {
  background-color: #835807;
}

.bg-naranja-dark-6 {
  background-color: #583a04;
}

.bg-naranja-dark-8 {
  background-color: #2c1d02;
}

.text-verde {
  color: rgb(17, 147, 17);
}

.bg-verde {
  background-color: rgb(17, 147, 17);
}

.bg-verde-light-2 {
  background-color: #41a941;
}

.bg-verde-light-4 {
  background-color: #70be70;
}

.bg-verde-light-6 {
  background-color: #a0d4a0;
}

.bg-verde-light-8 {
  background-color: #cfe9cf;
}

.bg-verde-dark-2 {
  background-color: #0e760e;
}

.bg-verde-dark-4 {
  background-color: #0a580a;
}

.bg-verde-dark-6 {
  background-color: #073b07;
}

.bg-verde-dark-8 {
  background-color: #031d03;
}

.text-azul {
  color: rgb(156, 156, 239);
}

.bg-azul {
  background-color: rgb(156, 156, 239);
}

.bg-azul-light-2 {
  background-color: #b0b0f2;
}

.bg-azul-light-4 {
  background-color: #c4c4f5;
}

.bg-azul-light-6 {
  background-color: #d7d7f9;
}

.bg-azul-light-8 {
  background-color: #ebebfc;
}

.bg-azul-dark-2 {
  background-color: #7d7dbf;
}

.bg-azul-dark-4 {
  background-color: #5e5e8f;
}

.bg-azul-dark-6 {
  background-color: #3e3e60;
}

.bg-azul-dark-8 {
  background-color: #1f1f30;
}

.text-gris {
  color: rgb(154, 147, 147);
}

.bg-gris {
  background-color: rgb(154, 147, 147);
}

.bg-gris-light-2 {
  background-color: #aea9a9;
}

.bg-gris-light-4 {
  background-color: #c2bebe;
}

.bg-gris-light-6 {
  background-color: #d7d4d4;
}

.bg-gris-light-8 {
  background-color: #ebe9e9;
}

.bg-gris-dark-2 {
  background-color: #7b7676;
}

.bg-gris-dark-4 {
  background-color: #5c5858;
}

.bg-gris-dark-6 {
  background-color: #3e3b3b;
}

.bg-gris-dark-8 {
  background-color: #1f1d1d;
}

.btn {
  background-color: DarkGrey;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background-color: #13A8F2;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #74ccf7;
}
@media (max-width: 0) {
  .btn-primary {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-primary {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-primary {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-primary {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-primary {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-primary {
    font-size: 60px;
  }
}

.btn-borde-primary {
  background-color: #13A8F2;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #13A8F2;
  border: 2px solid #13A8F2;
}
.btn-borde-primary:hover {
  background-color: #13A8F2;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-primary {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-primary {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-primary {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-primary {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-primary {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-primary {
    font-size: 60px;
  }
}

.btn-comp-primary {
  color: #fac1a4;
  background-color: #13A8F2;
}
.btn-comp-primary:hover {
  background-color: #fac1a4;
  color: #13A8F2;
}
@media (max-width: 0) {
  .btn-comp-primary {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-primary {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-primary {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-primary {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-primary {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-primary {
    font-size: 60px;
  }
}

.btn-secondary {
  background-color: #6C757D;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #a1a8ae;
}
@media (max-width: 0) {
  .btn-secondary {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-secondary {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-secondary {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-secondary {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-secondary {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-secondary {
    font-size: 60px;
  }
}

.btn-borde-secondary {
  background-color: #6C757D;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #6C757D;
  border: 2px solid #6C757D;
}
.btn-borde-secondary:hover {
  background-color: #6C757D;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-secondary {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-secondary {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-secondary {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-secondary {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-secondary {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-secondary {
    font-size: 60px;
  }
}

.btn-comp-secondary {
  color: #c6c1bc;
  background-color: #6C757D;
}
.btn-comp-secondary:hover {
  background-color: #c6c1bc;
  color: #6C757D;
}
@media (max-width: 0) {
  .btn-comp-secondary {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-secondary {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-secondary {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-secondary {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-secondary {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-secondary {
    font-size: 60px;
  }
}

.btn-succes {
  background-color: #2FA745;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-succes:hover {
  background-color: #68d47c;
}
@media (max-width: 0) {
  .btn-succes {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-succes {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-succes {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-succes {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-succes {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-succes {
    font-size: 60px;
  }
}

.btn-borde-succes {
  background-color: #2FA745;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #2FA745;
  border: 2px solid #2FA745;
}
.btn-borde-succes:hover {
  background-color: #2FA745;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-succes {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-succes {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-succes {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-succes {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-succes {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-succes {
    font-size: 60px;
  }
}

.btn-comp-succes {
  color: #e08fd1;
  background-color: #2FA745;
}
.btn-comp-succes:hover {
  background-color: #e08fd1;
  color: #2FA745;
}
@media (max-width: 0) {
  .btn-comp-succes {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-succes {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-succes {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-succes {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-succes {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-succes {
    font-size: 60px;
  }
}

.btn-danger {
  background-color: #DE3545;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-danger:hover {
  background-color: #ec8d96;
}
@media (max-width: 0) {
  .btn-danger {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-danger {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-danger {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-danger {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-danger {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-danger {
    font-size: 60px;
  }
}

.btn-borde-danger {
  background-color: #DE3545;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #DE3545;
  border: 2px solid #DE3545;
}
.btn-borde-danger:hover {
  background-color: #DE3545;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-danger {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-danger {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-danger {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-danger {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-danger {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-danger {
    font-size: 60px;
  }
}

.btn-comp-danger {
  color: #b9f3ee;
  background-color: #DE3545;
}
.btn-comp-danger:hover {
  background-color: #b9f3ee;
  color: #DE3545;
}
@media (max-width: 0) {
  .btn-comp-danger {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-danger {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-danger {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-danger {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-danger {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-danger {
    font-size: 60px;
  }
}

.btn-warning {
  background-color: #FFC107;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-warning:hover {
  background-color: #ffdb6d;
}
@media (max-width: 0) {
  .btn-warning {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-warning {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-warning {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-warning {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-warning {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-warning {
    font-size: 60px;
  }
}

.btn-borde-warning {
  background-color: #FFC107;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #FFC107;
  border: 2px solid #FFC107;
}
.btn-borde-warning:hover {
  background-color: #FFC107;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-warning {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-warning {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-warning {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-warning {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-warning {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-warning {
    font-size: 60px;
  }
}

.btn-comp-warning {
  color: #a0b8ff;
  background-color: #FFC107;
}
.btn-comp-warning:hover {
  background-color: #a0b8ff;
  color: #FFC107;
}
@media (max-width: 0) {
  .btn-comp-warning {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-warning {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-warning {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-warning {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-warning {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-warning {
    font-size: 60px;
  }
}

.btn-info {
  background-color: #17A2B8;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-info:hover {
  background-color: #4cd3e9;
}
@media (max-width: 0) {
  .btn-info {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-info {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-info {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-info {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-info {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-info {
    font-size: 60px;
  }
}

.btn-borde-info {
  background-color: #17A2B8;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #17A2B8;
  border: 2px solid #17A2B8;
}
.btn-borde-info:hover {
  background-color: #17A2B8;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-info {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-info {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-info {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-info {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-info {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-info {
    font-size: 60px;
  }
}

.btn-comp-info {
  color: #ee8a7a;
  background-color: #17A2B8;
}
.btn-comp-info:hover {
  background-color: #ee8a7a;
  color: #17A2B8;
}
@media (max-width: 0) {
  .btn-comp-info {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-info {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-info {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-info {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-info {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-info {
    font-size: 60px;
  }
}

.btn-blanco {
  background-color: white;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-blanco:hover {
  background-color: white;
}
@media (max-width: 0) {
  .btn-blanco {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-blanco {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-blanco {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-blanco {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-blanco {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-blanco {
    font-size: 60px;
  }
}

.btn-borde-blanco {
  background-color: white;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: white;
  border: 2px solid white;
}
.btn-borde-blanco:hover {
  background-color: white;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-blanco {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-blanco {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-blanco {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-blanco {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-blanco {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-blanco {
    font-size: 60px;
  }
}

.btn-comp-blanco {
  color: white;
  background-color: white;
}
.btn-comp-blanco:hover {
  background-color: white;
  color: white;
}
@media (max-width: 0) {
  .btn-comp-blanco {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-blanco {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-blanco {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-blanco {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-blanco {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-blanco {
    font-size: 60px;
  }
}

.btn-negro {
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-negro:hover {
  background-color: #333333;
}
@media (max-width: 0) {
  .btn-negro {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-negro {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-negro {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-negro {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-negro {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-negro {
    font-size: 60px;
  }
}

.btn-borde-negro {
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}
.btn-borde-negro:hover {
  background-color: black;
  color: white;
}
@media (max-width: 0) {
  .btn-borde-negro {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-negro {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-negro {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-negro {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-negro {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-negro {
    font-size: 60px;
  }
}

.btn-comp-negro {
  color: #4d4d4d;
  background-color: black;
}
.btn-comp-negro:hover {
  background-color: #4d4d4d;
  color: black;
}
@media (max-width: 0) {
  .btn-comp-negro {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-negro {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-negro {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-negro {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-negro {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-negro {
    font-size: 60px;
  }
}

.btn-manzana {
  background-color: rgb(207, 44, 44);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-manzana:hover {
  background-color: #e37e7e;
}
@media (max-width: 0) {
  .btn-manzana {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-manzana {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-manzana {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-manzana {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-manzana {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-manzana {
    font-size: 60px;
  }
}

.btn-borde-manzana {
  background-color: rgb(207, 44, 44);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: rgb(207, 44, 44);
  border: 2px solid rgb(207, 44, 44);
}
.btn-borde-manzana:hover {
  background-color: rgb(207, 44, 44);
  color: white;
}
@media (max-width: 0) {
  .btn-borde-manzana {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-manzana {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-manzana {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-manzana {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-manzana {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-manzana {
    font-size: 60px;
  }
}

.btn-comp-manzana {
  color: #a8ecec;
  background-color: rgb(207, 44, 44);
}
.btn-comp-manzana:hover {
  background-color: #a8ecec;
  color: rgb(207, 44, 44);
}
@media (max-width: 0) {
  .btn-comp-manzana {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-manzana {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-manzana {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-manzana {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-manzana {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-manzana {
    font-size: 60px;
  }
}

.btn-platano {
  background-color: rgb(210, 210, 22);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-platano:hover {
  background-color: #eeee60;
}
@media (max-width: 0) {
  .btn-platano {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-platano {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-platano {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-platano {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-platano {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-platano {
    font-size: 60px;
  }
}

.btn-borde-platano {
  background-color: rgb(210, 210, 22);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: rgb(210, 210, 22);
  border: 2px solid rgb(210, 210, 22);
}
.btn-borde-platano:hover {
  background-color: rgb(210, 210, 22);
  color: white;
}
@media (max-width: 0) {
  .btn-borde-platano {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-platano {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-platano {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-platano {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-platano {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-platano {
    font-size: 60px;
  }
}

.btn-comp-platano {
  color: #8e8ef3;
  background-color: rgb(210, 210, 22);
}
.btn-comp-platano:hover {
  background-color: #8e8ef3;
  color: rgb(210, 210, 22);
}
@media (max-width: 0) {
  .btn-comp-platano {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-platano {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-platano {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-platano {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-platano {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-platano {
    font-size: 60px;
  }
}

.btn-naranja {
  background-color: rgb(219, 146, 11);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-naranja:hover {
  background-color: #f6be56;
}
@media (max-width: 0) {
  .btn-naranja {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-naranja {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-naranja {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-naranja {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-naranja {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-naranja {
    font-size: 60px;
  }
}

.btn-borde-naranja {
  background-color: rgb(219, 146, 11);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: rgb(219, 146, 11);
  border: 2px solid rgb(219, 146, 11);
}
.btn-borde-naranja:hover {
  background-color: rgb(219, 146, 11);
  color: white;
}
@media (max-width: 0) {
  .btn-borde-naranja {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-naranja {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-naranja {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-naranja {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-naranja {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-naranja {
    font-size: 60px;
  }
}

.btn-comp-naranja {
  color: #86aef9;
  background-color: rgb(219, 146, 11);
}
.btn-comp-naranja:hover {
  background-color: #86aef9;
  color: rgb(219, 146, 11);
}
@media (max-width: 0) {
  .btn-comp-naranja {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-naranja {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-naranja {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-naranja {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-naranja {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-naranja {
    font-size: 60px;
  }
}

.btn-verde {
  background-color: rgb(17, 147, 17);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-verde:hover {
  background-color: #24e624;
}
@media (max-width: 0) {
  .btn-verde {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-verde {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-verde {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-verde {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-verde {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-verde {
    font-size: 60px;
  }
}

.btn-borde-verde {
  background-color: rgb(17, 147, 17);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: rgb(17, 147, 17);
  border: 2px solid rgb(17, 147, 17);
}
.btn-borde-verde:hover {
  background-color: rgb(17, 147, 17);
  color: white;
}
@media (max-width: 0) {
  .btn-borde-verde {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-verde {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-verde {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-verde {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-verde {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-verde {
    font-size: 60px;
  }
}

.btn-comp-verde {
  color: #eb52eb;
  background-color: rgb(17, 147, 17);
}
.btn-comp-verde:hover {
  background-color: #eb52eb;
  color: rgb(17, 147, 17);
}
@media (max-width: 0) {
  .btn-comp-verde {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-verde {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-verde {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-verde {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-verde {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-verde {
    font-size: 60px;
  }
}

.btn-azul {
  background-color: rgb(156, 156, 239);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-azul:hover {
  background-color: #f4f4fd;
}
@media (max-width: 0) {
  .btn-azul {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-azul {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-azul {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-azul {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-azul {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-azul {
    font-size: 60px;
  }
}

.btn-borde-azul {
  background-color: rgb(156, 156, 239);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: rgb(156, 156, 239);
  border: 2px solid rgb(156, 156, 239);
}
.btn-borde-azul:hover {
  background-color: rgb(156, 156, 239);
  color: white;
}
@media (max-width: 0) {
  .btn-borde-azul {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-azul {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-azul {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-azul {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-azul {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-azul {
    font-size: 60px;
  }
}

.btn-comp-azul {
  color: white;
  background-color: rgb(156, 156, 239);
}
.btn-comp-azul:hover {
  background-color: white;
  color: rgb(156, 156, 239);
}
@media (max-width: 0) {
  .btn-comp-azul {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-azul {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-azul {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-azul {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-azul {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-azul {
    font-size: 60px;
  }
}

.btn-gris {
  background-color: rgb(154, 147, 147);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.btn-gris:hover {
  background-color: #cbc8c8;
}
@media (max-width: 0) {
  .btn-gris {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-gris {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-gris {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-gris {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-gris {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-gris {
    font-size: 60px;
  }
}

.btn-borde-gris {
  background-color: rgb(154, 147, 147);
  color: white;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: rgb(154, 147, 147);
  border: 2px solid rgb(154, 147, 147);
}
.btn-borde-gris:hover {
  background-color: rgb(154, 147, 147);
  color: white;
}
@media (max-width: 0) {
  .btn-borde-gris {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-borde-gris {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-borde-gris {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-borde-gris {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-borde-gris {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-borde-gris {
    font-size: 60px;
  }
}

.btn-comp-gris {
  color: #e2e4e4;
  background-color: rgb(154, 147, 147);
}
.btn-comp-gris:hover {
  background-color: #e2e4e4;
  color: rgb(154, 147, 147);
}
@media (max-width: 0) {
  .btn-comp-gris {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .btn-comp-gris {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .btn-comp-gris {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .btn-comp-gris {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .btn-comp-gris {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .btn-comp-gris {
    font-size: 60px;
  }
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 40px;
}

.p-4 {
  padding: 60px;
}

.p-5 {
  padding: 80px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 40px;
}

.m-4 {
  margin: 60px;
}

.m-5 {
  margin: 80px;
}

.b-0 {
  border: 0;
}

.b-1 {
  border: 1px;
}

.b-2 {
  border: 2px;
}

.b-3 {
  border: 4px;
}

.b-4 {
  border: 6px;
}

.b-5 {
  border: 8px;
}

.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 0.5;
}

.o-2 {
  opacity: 1;
}

.o-3 {
  opacity: 2;
}

.o-4 {
  opacity: 3;
}

.o-5 {
  opacity: 4;
}

.f-0 {
  font-size: 0;
}

.f-1 {
  font-size: 10px;
}

.f-2 {
  font-size: 20px;
}

.f-3 {
  font-size: 40px;
}

.f-4 {
  font-size: 60px;
}

.f-5 {
  font-size: 80px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-xxl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-xxl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-xxl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
:root {
  --imagenes-padding: 30px;
  --margin-generico: 10px;
  --imagenes-size: 45%;
  --pfuentesSize: 1.8em;
  --h3fuentes: 1.6em;
  --fondoMain: #d0e8e2;
  --fondo: #a9aabc;
  --fondoSeccionesImportantes: #5e71c2;
  --fondoSecciones2: #454655;
  --fondotextos: #fc888f;
  --pFont: textoPequenio;
  --hFont: pt;
}

@font-face {
  font-family: textoPequenio;
  src: url(/fonts/gowun/Gowun_Batang/GowunBatang-Bold.ttf);
  font-family: pt;
  src: url(/fonts/pt/PTSerif-BoldItalic.ttf);
}
.header {
  background-color: burlywood;
  margin: 2vh;
  position: relative;
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: aquamarine;
  width: 20vw;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 110%;
  transform: translateX(1em);
}
.header__nav__item {
  margin: 2vh;
}
.header__title {
  display: flex;
  flex-direction: column;
  margin: 2vh;
}
.header__buttons {
  width: 25%;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main__section {
  margin: 2vh;
  justify-content: center;
}
.main__section__row {
  width: 100%;
  display: flex;
  margin: 2vh;
  justify-content: space-evenly;
}
.main__section__1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a9aabc;
}
.main__section__1__titulo {
  text-align: center;
}
.main__section__1__image {
  width: 35%;
  margin: 2vh;
}
.main__section__1__text {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__section__2 {
  background-color: #fc888f;
  align-items: center;
}
.main__section__2:hover .main__section__2__cont {
  visibility: visible;
}
.main__section__2__text {
  text-align: center;
  margin: 2vh;
}
.main__section__2__image {
  background-image: url(/imagenes/asesoramiento.jpeg);
  background-size: cover;
  width: 45%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}
.main__section__2__cont {
  visibility: hidden;
}
.main__section__2__btn {
  box-shadow: 0px 0px 0 #fff;
  transition: transform 0.25s ease-in-out;
}
.main__section__2__btn:hover {
  transform: scale(1.2, 1.2);
}
.main__section__3 {
  background-color: #d0e8e2;
}

.divP {
  font-size: 60px;
  color: #DE3545;
  background-color: #13A8F2;
  padding: 2vh;
}

/*# sourceMappingURL=styles.css.map */
