@import "componentes/tarjeta";
@import "variables";
@import "colores";
@import "componentes/botones";
@import "componentes/utilities";
@import "componentes/grid";

:root {
  --imagenes-padding: 30px;
  --margin-generico: 10px;
  --imagenes-size: 45%;
  --pfuentesSize: 1.8em;
  --h3fuentes: 1.6em;
  --fondoMain: #d0e8e2;
  --fondo: #a9aabc;
  --fondoSeccionesImportantes: #5e71c2;
  --fondoSecciones2: #454655;
  --fondotextos: #fc888f;
  --pFont: textoPequenio;
  --hFont: pt;
}

@font-face {
  font-family: textoPequenio;
  src: url(../fonts/gowun/Gowun_Batang/GowunBatang-Regular.ttf);

  font-family: pt;
  src: url(../fonts/pt/PTSerif-BoldItalic.ttf);
}

.header {
  background-color: burlywood;
  position: relative;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
  
    &__item {
      margin: $margin;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    
  }
  &__buttons {
    width: 25%;
    justify-content: space-between;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  &__section {
    justify-content: center;
    &__row {
      width: 100%;

      flex-direction: row;
      margin: $margin;
      justify-content: space-evenly;
    }
    &__1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #a9aabc;

      &__titulo {
        text-align: center;
      }
      &__image {
        width: 35%;
        margin: $margin;
      }
      &__text {
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__2 {
      background-color: #fc888f;
      align-items: center; 
      &:hover .main__section__2__cont{
          visibility: visible;
        }
      &__text{
        text-align: center;
        margin: $margin;
      }
      &__image{
        background-image: url(/imagenes/asesoramiento.jpeg);
        background-size: cover;
        width: 45%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: $margin;
       
      }
      &__cont{
        visibility: hidden;
      }
      &__btn{

        box-shadow: 0px 0px 0 #fff;
        transition: transform  0.25s ease-in-out;
        &:hover{
          transform: scale(1.2, 1.2);
        }
      }
    }
    &__3{
      background-color: #d0e8e2;
      display: flex;
      flex-direction: column;
    }
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__modoOscuro{
  border-radius: 25px;
  width: 5vw;
  height: 25px;
  background-color: black;
}

.container__oscuro{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bola{
  width: 45%;
  border-radius: 50%;
  height: 100%;
  background-color: white;
}

.divP {
  font-size: $font-xxl;
  color: $danger;
  background-color: $primary;
  padding: $padding;
}

h3{
  text-align: center;
}

.mainExplore{
  background-color: #454655;
  &__section{
    background-color: #a9aabc;
    justify-content: space-evenly;
  }
}


h1, h2, h3{
  font-family: var(--hFont);
}

p * {
  font-family: var(--pFont);
}

